.notify_wrapper {
  position: absolute;
  top: 20px;
  right: 30px;
}

.success {
  width: fit-content;
  background-color: #52c41a;
  color: #fff;
  border: 1px solid #52c41a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  width: fit-content;
  background-color: #f5222d;
  color: #fff;
  border: 1px solid #f5222d;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
